/* Customized Colors */
:root {
  --md-primary-fg-color:        #4F22D7; /* consider 510 navy #00214D */
  --md-primary-fg-color--light: #CFBFFF;
  --md-primary-fg-color--dark:  #361A8C;
}

/* Disable unused/unwanted features */
.md-sidebar--secondary {
  display: none;
}

/**
 * Reset/Tweak Theme-styles
 */
.md-typeset .admonition,
.md-typeset details {
  font-size: inherit; /* Prevent jump in text-size */
}

/* Make sub-headings stand-out from the body-text more (No need for inline-styles/bold/strong) */
.md-typeset h3 {
  font-weight: bold;
}

/* Make screenshots (only inside pages) stand-out more */
article img {
  border-radius: 0.375rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

/* Add more specifc details to icons */
.twemoji.yes {
  color: green;
}
.twemoji.req {
  color: darkgrey;
}
