.md-sidebar--secondary {
    display: none;
  }

:root {
  --md-primary-fg-color:        #4F22D7; /* consider 510 navy #00214D */
  --md-primary-fg-color--light: #CFBFFF;
  --md-primary-fg-color--dark:  #361A8C;
}


img {
  border-radius: 6px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


/* body {
  background: #eceff4;
} */
